In [ ]:
# print("Test")

In [2]:
import pandas as pd

In [3]:
# df = pd.read_csv("survey_results_public.csv")
df = pd.read_csv("survey_results_public.csv", index_col= 'Respondent')

In [ ]:
df

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df

In [ ]:
pd.set_option("display.max_columns",50)

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.head(15)

In [ ]:
df.tail()

In [ ]:
df_scheme= pd.read_csv("survey_results_schema.csv")

In [ ]:
df_scheme

In [ ]:
df['Hobbyist']

In [5]:
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'ConvertedComp', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [ ]:
df['Hobbyist'].value_counts()

In [ ]:
df.loc[0]

In [ ]:
df.loc[0,'Hobbyist']

In [ ]:
df.loc[0:5,['Hobbyist','Age']]

In [ ]:
df.loc[0:10, 'Hobbyist' : 'CurrencyDesc']

In [ ]:
high_slary_filter = (df['ConvertedComp']>300000)
df.loc[high_slary_filter]

In [16]:
df.loc[high_slary_filter,['Age','Age1stCode','YearsCode','Country']]

             Age            Age1stCode           YearsCode        Country
Respondent
18          32.0                    12                  19  United States
57          44.0                    12                  33  United States
65          34.0                    13                  21  United States
69          25.0                    12                  13         France
123         26.0                    12                   8  United States
...          ...                   ...                 ...            ...
65341        NaN                    11                  17  United States
65381        NaN                     8                  30    Afghanistan
65456        NaN  Younger than 5 years  More than 50 years    Afghanistan
65502        NaN                    11                   5  United States
65527        NaN                    11                  14  United States

[1620 rows x 4 columns]

In [19]:
slary_country_age = (df['ConvertedComp']>350000,'Country') 
df.loc[slary_country_age]

Respondent
18       United States
57       United States
65       United States
69              France
123      United States
             ...
65341    United States
65381      Afghanistan
65456      Afghanistan
65502    United States
65527    United States
Name: Country, Length: 1498, dtype: object

In [22]:
slary_country_age = (df['ConvertedComp']>350000,['Age','Country']) 
df.loc[slary_country_age]

             Age        Country
Respondent
18          32.0  United States
57          44.0  United States
65          34.0  United States
69          25.0         France
123         26.0  United States
...          ...            ...
65341        NaN  United States
65381        NaN    Afghanistan
65456        NaN    Afghanistan
65502        NaN  United States
65527        NaN  United States

[1498 rows x 2 columns]

In [31]:
country_list = ['United States',"India"]
check = df['Country'].isin(country_list)
df.loc[check]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
14,I am a developer by profession,Yes,27.0,13,Yearly,66000.0,66000.0,United States,United States dollar,USD,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Angular;Vue.js,Angular;Vue.js,Just as welcome now as I felt last year,40.0,5,1
17,I am a developer by profession,Yes,25.0,14,Yearly,79000.0,79000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Gatsby;React.js;Vue.js,ASP.NET;Gatsby;jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62464,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN,NaN
62954,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js,NaN,NaN,NaN,NaN
63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
64236,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year

In [33]:
country_list = ['United States',"India"]
check = df['Country'].isin(country_list)
df.loc[check,['Age']]

             Age
Respondent
5           31.0
7            NaN
8           36.0
14          27.0
17          25.0
...          ...
62464        NaN
62954        NaN
63077        NaN
64236        NaN
64858        NaN

[20872 rows x 1 columns]

In [35]:
df.loc[check,['Age']].shape

(20872, 1)

In [36]:
df.loc[check].shape

(20872, 60)

In [42]:
df['LanguageWorkedWith']

Respondent
1                                   C#;HTML/CSS;JavaScript
2                                         JavaScript;Swift
3                                 Objective-C;Python;Swift
4                                                      NaN
5                                        HTML/CSS;Ruby;SQL
                               ...
64858                                                  NaN
64867    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
64898                                                  NaN
64925                                             HTML/CSS
65112                      C#;HTML/CSS;Java;JavaScript;SQL
Name: LanguageWorkedWith, Length: 64461, dtype: object

In [43]:
lang_filt = df['LanguageWorkedWith'].str.contains('Python', na = False)
df.loc[lang_filt]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
8,I am a developer by profession,Yes,36.0,12,Yearly,116000.0,116000.0,United States,United States dollar,USD,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;React.js;Vue.js,Flask,Just as welcome now as I felt last year,39.0,17,13
10,I am a developer by profession,Yes,22.0,14,Yearly,25000.0,32315.0,United Kingdom,Pound sterling,GBP,...,Easy,Appropriate in length,No,Mathematics or statistics,Flask;jQuery,Flask;jQuery,Somewhat more welcome now than last year,36.0,8,4
13,"I am not primarily a developer, but I write co...",Yes,53.0,14,Monthly,3000.0,38916.0,Netherlands,European Euro,EUR,...,Neither easy nor difficult,Too long,No,NaN,NaN,NaN,A lot less welcome now than last year,36.0,35,20
15,I am a student who is learning to code,Yes,NaN,13,NaN,NaN,NaN,France,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61561,NaN,Yes,64.0,18,NaN,NaN,NaN,France,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",Angular.js;jQuery;React.js;Vue.js,jQuery,A lot more welcome now than last year,NaN,30,NaN
62391,NaN,Yes,NaN,Younger than 5 years,NaN,NaN,NaN,Morocco,NaN,NaN,...,Neither easy nor difficult,Too short,NaN,NaN,Angular.js;Express;React.js;Ruby on Rails,Angular.js;Express;React.js;Ruby on Rails,NaN,NaN,Less than 1 year,Less than 1 year
63077,NaN,Yes,NaN,20,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,4,NaN
63640,NaN,Yes,NaN,8,NaN,NaN,NaN,Australia,NaN,NaN,...,NaN,NaN,No,NaN,Angular;Angular.js;Express;jQuery;React.js;Vue.js,Express;jQuery,Somewhat more welcome now than last year,NaN,6,2
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df.loc[lang_filt,'LanguageWorkedWith']

Respondent
3                                 Objective-C;Python;Swift
8                                               Python;SQL
10                     HTML/CSS;Java;JavaScript;Python;SQL
13                                     C;JavaScript;Python
15        Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
                               ...
61561    Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
62391       C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript
63077              C++;HTML/CSS;Java;JavaScript;Python;SQL
63640    Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
64867    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
Name: LanguageWorkedWith, Length: 25287, dtype: object

In [45]:
df.loc[lang_filt,'LanguageWorkedWith'].shape

(25287,)